<!DOCTYPE html>
<!-- Base template that will show on every view -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- block can be overwriten in sub templates/files with same sintax -->
    {% block head %}
    <title>IgenHub</title>
    {% endblock%}

    <!-- custome css and static files loaded with jinja -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'igenapp/style.css' %}" type="text/css" >
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">IgenHub</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'wiki' %}">Wiki</a></li>
          <li><a href="{% url 'issues' %}">Issues</a></li>
          <li><a href="{% url 'commits' %}">Commits</a></li>
        </ul>
      </div>
    </nav>
    <a href="https://github.com/igen-ftn/igenhub" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <!-- Inside the block body is where the views will appears -->
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>

  </body>
</html>
