{% extends 'base.html' %}

{% block navbar %}
<li><a href="{% url 'home' owner_name %}">Home</a></li>
<li class="active"><a href="/{{owner_name}}/repositories">Repositories</a></li>
{% endblock %}

{% block body %}
{% load igenapp_extras %}
<h1>Repositories</h1>
<label>Owner: {{owner_name}}</label>
<br /><br />
<div class="row">
    <div class="col-sm-10">
        <a href="/{{owner_name}}/new_repository" class="btn btn-success btn-circle text-uppercase"><span class="glyphicon glyphicon-plus-sign"></span> New Repository</a>
    </div>
</div>
<br /><br />
{% if repositories %}
<div class="row">
    <div class="col-sm-8">
        <h4>My repositories</h4>
    </div>
    {% for repository in repositories %}
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading1">
                <div class="pull-left image">
                    {% if repository.author|ifinlist:images %}
                        {% for image in images %}
                            {% if image.user == repository.author %}
                                 <img src="{{image.avatar.url}}" class="img-circle avatar1" alt="user profile image">
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar1"/>
                    {% endif %}
                </div>
                <div class="pull-left meta">
                    <div class="title mt" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 520px;">
                        <a href="/{{repository.owner_name}}/{{repository.repo_name}}/commits"><b>{{repository.repo_name}}</b> | owner: {{repository.owner_name}}</a>
                    </div>
                    {% if repository.type == "G" %}
                        <h6 class="text-muted time">Git repository | <b>url:</b> <a href="{{repository.url}}" target="_blank">{{repository.url}}</a></h6>
                    {% else %}
                        <h6 class="text-muted time">Local repository</h6>
                    {% endif %}
                </div>
                <div class="col-sm-2" style="float:right; width: 55px;">
                    <a href="/{{owner_name}}/repository/delete/{{repository.id}}" class="btn btn-danger btn-circle text-uppercase"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <div class="col-sm-2" style="float:right; width: 55px;">
                    <a href="/{{owner_name}}/repository/edit/{{repository.id}}" class="btn btn-warning btn-circle text-uppercase"><span class="glyphicon glyphicon-edit"></span></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if controbute_to %}
<div class="row">
    <div class="col-sm-8">
        <h4>Repositories you contribute to</h4>
    </div>
    {% for repository in controbute_to %}
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading1">
                <div class="pull-left image">
                    {% if repository.author|ifinlist:images %}
                        {% for image in images %}
                            {% if image.user == repository.author %}
                                 <img src="{{image.avatar.url}}" class="img-circle avatar1" alt="user profile image">
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar1"/>
                    {% endif %}
                </div>
                <div class="pull-left meta">
                    <div class="title mt" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 520px;">
                        <a href="/{{repository.owner_name}}/{{repository.repo_name}}/commits"><b>{{repository.repo_name}}</b> | owner: {{repository.owner_name}}</a>
                    </div>
                    {% if repository.type == "G" %}
                        <h6 class="text-muted time">Git repository | <b>url:</b> <a href="{{repository.url}}" target="_blank">{{repository.url}}</a></h6>
                    {% else %}
                        <h6 class="text-muted time">Local repository</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if activity %}
<div class="row">
    <div class="col-sm-8">
        <h4>Activity:</h4>
        {% for act in activity %}
            <p style="width:90%"><span class="glyphicon glyphicon-user"></span> <a style="color: #333;" href="/{{owner_name}}/profilePreview/{{act.user.id}}"><b>{{act.user}}</b></a> <i><a href="{{act.link}}">{{act.text}} </a></i> in <b>{{act.repository.repo_name}}</b>
            &nbsp;&nbsp;<span style="float:right">&nbsp;{{act.date}}</span><span style="float:right" class="glyphicon glyphicon-calendar"></span>
            </p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
