{% extends 'base.html' %}
{% block head %}
{% load staticfiles %}
<script src="{% static 'igenapp/commit.js' %}"></script>
{% endblock%}

{% block navbar %}
    <li><a href="{% url 'home' repo_info.owner_name %}">Home</a></li>
    <li><a href="/{{repo_info.owner_name}}/repositories">Repositories</a></li>
    <li><a href="/{{repo_info.owner_name}}/{{repo_info.repo_name}}/wiki">Wiki</a></li>
    <li><a href="/{{repo_info.owner_name}}/{{repo_info.repo_name}}/issues">Issues</a></li>
    <li class="active"><a href="/{{repo_info.owner_name}}/{{repo_info.repo_name}}/commits/">Commits</a></li>
    <li><a href="/{{repo_info.owner_name}}/{{repo_info.repo_name}}/graphs/">Graphs</a></li>
    <li><a href="/{{repo_info.owner_name}}/{{repo_info.owner_name}}/tasks/">Tasks</a></li>
{% endblock %}

{% block body %}
<h1>Commits</h1>
<label>Repository: <span id="repo_name">{{repo_info.repo_name}}</span> | Owner: <span id="owner_name">{{repo_info.owner_name}}</span></label>
<br /><br />
<div style="display: ruby;">
    <label class="">Branch:</label>
    <div class="">
        <select id="selectedBranch" name="milestone" style="width:150px;">
            {% for branch in repo_info.branches %}
            <option value="{{branch.name}}"
                {% if branch.name == repo_info.selected_branch %}selected="selected"{% endif %}>
                {{branch.name}}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
<br /><br />
<div id="commitsContent" class="row">
    {% for commitInfo in repo_info.commits %}
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading1">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar1" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title mt" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 520px;">
                        <a href="/{{repo_info.owner_name}}/{{repo_info.repo_name}}/commit/{{commitInfo.sha}}">{{commitInfo.commit.message}}</a>
                    </div>
                    <h6 class="text-muted time">Committed by: <b>{{commitInfo.commit.author.name}}</b></h6>
                </div>
                <div class="col-sm-2" style="float:right; width: 55px;">
                    <a href="/{{repo_info.owner_name}}/{{repo_info.repo_name}}/commit/{{commitInfo.sha}}" class="btn btn-success btn-circle text-uppercase"><span class="glyphicon glyphicon-th-large"></span></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
