{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'home' owner_name %}">Home</a></li>
    <li><a href="/{{owner_name}}/repositories">Repositories</a></li>
{% endblock %}

{% block body %}
    <h3>Profile:</h3>
    <p>{{message}}</p>
    <div class="row">
        <img src="{{ image.avatar.url }}" style="width:349px"/>
        <form method="POST" class="post-form" action="{% url 'remove_avatar' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Remove Avatar</button>
        </form>
    </div>
    <br/>
    <form method = "POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <table>
                {{ form.as_table }}
                {{ new_image.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><button type="submit" class="save btn btn-sm btn-primary align-middle">Edit profile</button></td>
                </tr>
            </table>

        </div>
    </form>
{% endblock %}
