{% extends 'base.html' %}

{% block navbar %}
    <li><a href="{% url 'home' owner_name %}">Home</a></li>
    <li><a href="/{{owner_name}}/repositories">Repositories</a></li>
    <li><a href="/{{owner_name}}/{{repo_name}}/wiki">Wiki</a></li>
    <li class="active"><a href="/{{owner_name}}/{{repo_name}}/issues">Issues</a></li>
    <li><a href="/{{owner_name}}/{{repo_name}}/commits/">Commits</a></li>
    <li><a href="/{{owner_name}}/{{repo_name}}/graphs/">Graphs</a></li>
{% endblock %}

{% block body %}
<h1>New Milestone</h1>
<label>Repository: {{repo_name}} | Owner: {{owner_name}}</label>
<br /><br />
<div>
    <form class="form-horizontal" action="/{{owner_name}}/{{repo_name}}/add_milestone/" method="post">{% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:left; width:100px;">Title:</label>
            <div class="col-sm-4">
              <input type="text" name="title" class="form-control" style="width:70%">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:left; width:100px;">Description:</label>
            <div class="col-sm-8">
              <textarea name="description" class="form-control" rows="8" style="width:70%"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:left; width:100px;">Due date:</label>
            <div class="col-sm-4">
              <input type="date" name="due_date" class="form-control" style="width:70%">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10" style="margin-left:100px;">
                <button class="btn btn-success btn-circle text-uppercase"><span class="glyphicon glyphicon-send"></span>  Submit</button>
            </div>
        </div>

    </form>
</div>
{% if milestones %}
<br/>
<h1>Milestones:</h1>
<br/>
<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for milestone in milestones %}
                <tr>
                    <td>{{milestone.title}}</td>
                    <td>{{milestone.description}}</td>
                    <td>{{milestone.due_date}}</td>
                    <td style="text-align:right;">
                        <a href="/{{owner_name}}/{{repo_name}}/milestones/{{milestone.id}}"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock body %}