{% extends 'base.html' %}
{% block head %}
{% load staticfiles %}
<script src="{% static 'igenapp/comment.js' %}"></script>
{% endblock%}
{% block navbar %}
    <li><a href="{% url 'home' owner_name %}">Home</a></li>
    <li><a href="/{{owner_name}}/repositories">Repositories</a></li>
    <li><a href="/{{owner_name}}/{{repo_name}}/wiki">Wiki</a></li>
    <li class="active"><a href="/{{owner_name}}/{{repo_name}}/issues">Issues</a></li>
    <li><a href="/{{owner_name}}/{{repo_name}}/commits/">Commits</a></li>
{% endblock %}

{% block body %}
{% load igenapp_extras %}
<h1>{{issue.title}}</h1>
<br/>
<div>
    <form class="form-horizontal" action="/{{owner_name}}/{{repo_name}}/issue/{{issue.id}}/" method="post">{% csrf_token %}
      <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:left; width:100px;">Title:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" style="width:70%" value="{{issue.title}}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:left; width:100px;">Comment</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="8" style="width:70%" disabled>{{issue.text}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:left; width:100px;">Milestone:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" value="{{issue.milestone.title}}" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10" style="margin-left:100px;">
                <button class="btn btn-success btn-circle text-uppercase"><span class="glyphicon glyphicon-edit"></span>  Edit</button>
                {% if issue.status == 'O' %}
                <a href="/{{owner_name}}/{{repo_name}}/issues/close/{{issue.id}}/" class="btn btn-success btn-circle text-uppercase"><span class="glyphicon glyphicon-ban-circle"></span>  Close Issue</a>
                {% else %}
                <a href="/{{owner_name}}/{{repo_name}}/issues/close/{{issue.id}}/" class="btn btn-success btn-circle text-uppercase"><span class="glyphicon glyphicon-repeat"></span>  Reopen</a>
                {% endif %}
            </div>
        </div>
    </form>
</div>
<br/>
<div style="width:70%; margin-left:100px">
    {% for history in issue.history.all %}
    <p><span class="glyphicon glyphicon-user"></span> <b>{{history.user}}</b> <i>{{history.text}} </i>
        &nbsp;&nbsp;<span class="glyphicon glyphicon-calendar"></span>&nbsp;{{history.date}}
    </p>
    {% endfor %}
</div>
<br/>
<!-- comments -->
{% for comment in comments %}
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                {% if comment.user|ifinlist:images %}
                    {% for image in images %}
                        {% if image.user == comment.user %}
                            <img class="img-responsive user-photo" src="{{ image.avatar.url }}">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-responsive user-photo"/>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        {% if comment.user.username == user.username %}
                            <form action="{% url 'delete_comment' owner_name repo_name 'issue' issue.id comment.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-default glyphicon glyphicon-remove pull-right pagination-centered"></button>
                            </form>
                            <button class="btn btn-sm btn-default glyphicon glyphicon-pencil pull-right pagination-centered" onclick="editComment('{{comment.content}}', {{comment.id}}, '{{owner_name}}', '{{repo_name}}', {{issue.id}})"></button>
                        {% endif %}
                        <b>&nbsp; {{comment.user.username}}</b>
                        <span class="text-muted pull-right">{{comment.date}}</span>
                    </div>
                </div>
                <form method="post" action="{% url 'edit_comment' owner_name repo_name 'issue' issue.id %}">
                    {% csrf_token %}
                    <div class="panel-body" id="editCom{{comment.id}}">
                        {{comment.content}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- write new comment -->
{% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    {% if user|ifinlist:images %}
                        {% for image in images %}
                            {% if image.user == user %}
                                <img class="img-responsive user-photo" src="{{image.avatar.url}}">
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <img src="http://bootdey.com/img/Content/user_1.jpg"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-5">
                <form action="{% url 'add_comment' owner_name repo_name 'issue' issue.id %}" method="post">
                    {% csrf_token %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{user.username}}</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <textarea id="content" name="content" rows="4" class="form-control" placeholder="Write a comment.."></textarea>
                            </div>
                            <div class="row">
                                <input type="Submit" class="pull-right btn btn-success" value="Comment"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% endblock body %}