{% extends 'base.html' %}

{% block navbar %}
    <li><a href="{% url 'home' owner_name %}">Home</a></li>
    <li><a href="/{{owner_name}}/repositories">Repositories</a></li>
    <li><a href="/{{owner_name}}/{{repo_name}}/wiki">Wiki</a></li>
    <li class="active"><a href="/{{owner_name}}/{{repo_name}}/issues">Issues</a></li>
    <li><a href="/{{owner_name}}/{{repo_name}}/commits/">Commits</a></li>
    <li><a href="/{{owner_name}}/{{repo_name}}/graphs/">Graphs</a></li>
{% endblock %}

{% block body %}
{% load igenapp_extras %}
<h1>Issues</h1>
<label>Repository: {{repo_name}} | Owner: {{owner_name}}</label>
<br /><br />
<div class="row">
    <div class="col-sm-8">
        <div style="width: 90%;">
            <a href="/{{owner_name}}/{{repo_name}}/issue/0" class="btn btn-success btn-circle text-uppercase"><span class="glyphicon glyphicon-plus-sign"></span> New Issue</a>
            <a href="/{{owner_name}}/{{repo_name}}/milestones" class="btn btn-success btn-circle text-uppercase" style="float: right; width: 130px;">
                <span class="glyphicon glyphicon-pushpin"></span> Milestones
            </a>
            <a href="/{{owner_name}}/{{repo_name}}/labels" class="btn btn-success btn-circle text-uppercase" style="float: right; width: 130px; margin-right: 5px;">
                <span class="glyphicon glyphicon-tags"></span> Labels
            </a>
        </div>
    </div>
</div>
<br/>
<!--SEARCH-->
<div class="row">
    <div class="col-sm-8">
        <div style="width: 90%;">
            <div id="filter-panel" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" action="/{{owner_name}}/{{repo_name}}/issues/search/" method="POST">{% csrf_token %}
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:10px;">Author:</label>
                                <select class="form-control" name="author" style="width:130px">
                                    <option value="null"></option>
                                    <option value="{{repo.author.id}}">{{repo.author.username}}</option>
                                    {% for user in users.all %}
                                        <option value="{{user.id}}">{{user}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:10px;margin-left:10px;">Milestone:</label>
                                <select class="form-control" name="milestone" style="width:130px">
                                    <option value="null"></option>
                                    {% for milestone in milestones %}
                                    <option value="{{milestone.id}}">{{milestone.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:10px;margin-left:10px;">Status:</label>
                                <select class="form-control" name="status">
                                    <option value="null"></option>
                                    <option value="O">Open</option>
                                    <option value="C">Closed</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" style="background-color: #a2abb3;border-color: #868b90"
                    data-toggle="collapse" data-target="#filter-panel">
                <span class="glyphicon glyphicon-cog"></span> Search
            </button>
        </div>
	</div>
</div>
<!--ISSUES-->
<br/>
<div class="row">
    {% for issue in issues %}
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    {% if issue.user|ifinlist:images %}
                        {% for image in images %}
                            {% if image.user == issue.user %}
                                <img src="{{image.avatar.url}}" class="img-circle avatar" alt="profile picture" />
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="profile picture"/>
                    {% endif %}
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="/{{owner_name}}/profilePreview/{{issue.user.id}}"><b>{{issue.user}}</b></a>
                        created issue.
                    </div>
                    <h6 class="text-muted time">{{issue.date}}</h6>
                </div>
                {% for label in issue.label.all %}
                <div class="col-sm-2" style="float:right">
                    <div class="label-div " style="background-color: {{label.color}}"><span class="glyphicon glyphicon-tag"></span> {{label.name}}</div>
                </div>
                {% endfor %}
                <br/><br/>
                {% if issue.milestone %}
                <div class="col-sm-4" style="float:right">
                    <div style="text-align:right;"><span class="glyphicon glyphicon-pushpin"></span> {{issue.milestone.title}}</div>
                </div>
                {% endif %}
            </div>
            <div class="post-description">
                <p> <a href="/{{owner_name}}/{{repo_name}}/issues/{{issue.id}}">{{issue.title}}</a>  </p>
                {% if issue.assignee.all %}
                <p> <b>Assignees:</b>
                    {% for user in issue.assignee.all %}
                        {{ user }} {% if forloop.last == False %} , {% endif %}
                    {% endfor %} </p>
                {% endif %}
                <p><b>Status:</b> {{issue.get_status_display}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}