{% extends 'base.html' %}
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>Tasks</title>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      <li><a href="{% url 'home' owner_name %}">Home</a></li>
      <li><a href="/{{owner_name}}/repositories">Repositories</a></li>
      <li class="active"><a href="/{{owner_name}}/{{repo_name}}/wiki">Wiki</a></li>
      <li><a href="/{{owner_name}}/{{repo_name}}/issues">Issues</a></li>
      <li><a href="/{{owner_name}}/{{repo_name}}/commits/">Commits</a></li>
      <li><a href="/{{owner_name}}/{{repo_name}}/graphs/">Graphs</a></li>
      <li class="active"><a href="/{{owner_name}}/{{repo_name}}/tasks/">Tasks</a></li>
    {% endblock %}

    {% block body %}
    <h1>Tasks</h1>
    <label>Repository: {{repo_name}} | Owner: {{owner_name}}</label>
    <br><br>
    <div class="row">
      <div class="col-md-8">
        <form class="form-inline" action="/{{owner_name}}/{{repo_name}}/tasks/search/" method="POST">{% csrf_token %}
            <div class="form-group">
                <label class="filter-col" style="margin-right:10px;">Search:</label>
                <input class="form-control" name="title">

              </input>
            </div>
            <div class="form-group">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="btn-group">
        <a href="/{{owner_name}}/{{repo_name}}/task-form/" class="btn btn-primary">+ New Task</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="list-group">
        {% for task in tasks %}
        <a href="/{{owner_name}}/{{repo_name}}/task-page/{{task.id}}" class="list-group-item">{{task.title}}</a>
        {% endfor %}
      </div>
    </div>

    {% endblock %}
  </body>
</html>
