{% extends 'base.html' %}

{% block head %}
<title>Tasks</title>
{% endblock %}
{% block navbar %}
  <li><a href="{% url 'home' owner_name %}">Home</a></li>
  <li><a href="/{{owner_name}}/repositories">Repositories</a></li>
  <li><a href="/{{owner_name}}/{{repo_name}}/wiki">Wiki</a></li>
  <li><a href="/{{owner_name}}/{{repo_name}}/issues">Issues</a></li>
  <li><a href="/{{owner_name}}/{{repo_name}}/commits/">Commits</a></li>
  <li><a href="/{{owner_name}}/{{repo_name}}/graphs/">Graphs</a></li>
  <li class="active"><a href="/{{owner_name}}/{{repo_name}}/tasks/">Tasks</a></li>
{% endblock %}

{% block body %}
<h1>Tasks</h1>
<label>Repository: {{repo_name}} | Owner: {{owner_name}}</label>
<br/>
<div class="row">
  <div class="col-md-8">
    <form class="form-inline" action="/{{owner_name}}/{{repo_name}}/tasks/search/" method="POST">{% csrf_token %}
        <div class="form-group">
            <label class="filter-col" >Search By Title:</label>
            <input class="form-control" name="title"></input>
        </div>
        <div class="form-group">
            <label class="filter-col" >By Assignee:</label>
            <select class="form-control" id="sel1" name='user'>
              <option value=""></option>
              {% for user in users %}
              <option value={{user.id}}>{{user.first_name}} {{user.last_name}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="filter-col" >By Status:</label>
            <select class="form-control" id="sel2" name='status'>
              <option value=""></option>
              <option value="0%">0%</option>
              <option value="10%">10%</option>
              <option value="20%">20%</option>
              <option value="30%">30%</option>
              <option value="40%">40%</option>
              <option value="50%">50%</option>
              <option value="60%">60%</option>
              <option value="70%">70%</option>
              <option value="80%">80%</option>
              <option value="90%">90%</option>
              <option value="100%">100%</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form>
  </div>
</div>
<br/>
<div class="row">
  <div class="btn-group">
    <a href="/{{owner_name}}/{{repo_name}}/task-form/" class="btn btn-primary">+ New Task</a>
  </div>
</div>
<br>
<div class="row">
  <div class="list-group">
    {% for task in tasks %}
    <a href="/{{owner_name}}/{{repo_name}}/task-page/{{task.id}}" class="list-group-item">{{task.title}} <span class="badge">{{task.user.username}}</span></a>
    {% endfor %}
  </div>
</div>

{% endblock %}
