{% extends 'base.html' %}
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>Home</title>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      <li class="active"><a href="{% url 'home' owner_name %}">Home</a></li>
      <li><a href="/{{user.username}}/repositories">Repositories</a></li>
    {% endblock %}
    {% block body %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <img class="img-responsive" src="/static/igenapp/img/igen.png">
      </div>
    </div>
    <div class="row">
      <a href="/{{user.username}}/repositories" class="col-md-4 col-md-offset-1 text-center landing-link">
        <div >
          <h2>Reposotories</h2>
        </div>
      </a>

      <a href="/accounts/profile/" class="col-md-4 col-md-offset-2 text-center landing-link">
        <div >
          <h2>My Profile</h2>
        </div>
      </a>
    </div>
    {% endblock %}
  </body>
</html>
