{% extends 'base.html' %}
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>Home</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="jumbotron">
      <h1>Welcome To IgenHub</h1>
      <p>A web application designed to make team development easier.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive" src="/static/igenapp/img/igen.png" alt="Chania">
      </div>
      <div class="col-md-6">
        <blockquote>
          <h3>
            We are a young team, friends gathered in non-profit organization IGEN.
            Driven only by our desire to learn and improve the world we created IgenHub.
            This application was inspired by our class Assistant Milos Simic and Professor Igor Dejanovic.
            We hope to grow in future, and invite everyone to join our open source project
            where you can help us improve the future of team work.
          </h3>
          <footer>
            Team IGEN
          </footer>
        </blockquote>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
