{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'home' owner_name %}">Home</a></li>
    <li><a href="/{{owner_name}}/repositories">Repositories</a></li>
{% endblock %}

{% block body %}
    <h3>Profile:</h3>
    <p>{{message}}</p>
    <form method = "POST" class="post-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <button type="submit" class="save btn btn-sm btn-primary pull-right">Edit profile</button>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}