{% extends 'base.html' %}
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>Wiki</title>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      <li><a href="{% url 'home' owner_name %}">Home</a></li>
      <li><a href="/{{owner_name}}/repositories">Repositories</a></li>
      <li class="active"><a href="/{{owner_name}}/{{repo_name}}/wiki">Wiki</a></li>
      <li><a href="/{{owner_name}}/{{repo_name}}/issues">Issues</a></li>
      <li><a href="/{{owner_name}}/{{repo_name}}/commits/">Commits</a></li>
      <li><a href="/{{owner_name}}/{{repo_name}}/graphs/">Graphs</a></li>
      <li><a href="/{{owner_name}}/{{repo_name}}/tasks/">Tasks</a></li>
    {% endblock %}

    {% block body %}
    <h1>Wiki</h1>
    <label>Repository: {{repo_name}} | Owner: {{owner_name}}</label>
    <br><br>

    <div class="row">
      <div class="btn-group">
        <a href="/{{owner_name}}/{{repo_name}}/wiki-form/" class="btn btn-primary">+ New Wiki Page</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="list-group">
        {% for wikipage in wikipages %}
        <a href="/{{owner_name}}/{{repo_name}}/wiki-page/{{wikipage.id}}" class="list-group-item">{{wikipage.title}}</a>
        {% endfor %}
      </div>
    </div>

    {% endblock %}
  </body>
</html>
