{% extends 'base.html' %}
<html>
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>Wiki</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <h1>Wiki</h1>
    <div class="btn-group">
      <a href="{% url 'wikiform' %}" class="btn btn-primary">+ New Wiki Page</a>
    </div>
    <div class="list-group">
      {% for wikipage in wikipages %}
      <a href="#" class="list-group-item">{{wikipage.title}}</a>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
